{% extends 'base.html.twig' %}

{% block body %}

    <strong>Tag List</strong>
    <ul>
        {% for tag in tag %}
            <li>
                <a href="{{ path('tag_show', { 'name': tag.name }) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}